/* Font  */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}


/* Global styles */
body {
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: #0A0A12;
    color: #ffffff;
}


/* Nav styles */
nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

nav div {
    display: flex;
}

nav div a {
    margin-right: 0.8rem;
    padding: 0.5rem 0.5rem 0.2rem;
    background-color: #1E1E30;
    border-radius: 2rem;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

nav .right-side a {
    transform: scale(1.2);
    /* margin-right: 0.8rem; */
}

nav div a:hover {
    background-color: #403F60;
    transform: scale(1.1);
}

nav div a:active {
    color: #A359EC;
}

nav .right-side a:hover {
    transform: scale(1.3);
}

#home, #films {
    padding: 0.5rem 1rem;
}


/* Invert images color */
#linkedin, #github, #star, #copy-clipboard {
    filter: invert(100%);
}


/* Set main color theme */
h1, a, nav a:hover {
    color: #A359EC;
}

#link-hover:hover {
    opacity: 0.8;
}


/* Profile styles */
#profile {
    margin-top: 2rem;
}

#profile img {
    border: 3px solid #A359EC;
}

#profile img:hover {
    animation: rotation 0.1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#profile p {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
}


/* Set container width for responsiveness */
.container-1 {
    max-width: 768px;
    width: 90%;
}


/* Skills container */
.skills-container {
    max-width: 639px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: -1.5rem;
}

.skills-container h3, .skills-container p {
    /* all: unset; */
    margin: 0;
}

.skill-set {
    display: flex;
    /* margin-right: 6rem; */
}

.skill-set p {
    margin-right: 2rem;
}


/* Projects */
.projects-container {
    height: 418px;
    /* display: flex; */
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.project-item {
    scroll-snap-align: start;
}

.project-item img {
    width: 100%;
    height: auto;
}


/* Favorite Films styles */
#films-container {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.films {
    cursor: pointer;
}

.films:hover {
    opacity: 0.8;
    transform: scale(0.9);
    transition: all 0.2s ease;
}

.films > a > img {
    width: 173px;
    height: 256px;
    /* aspect-ratio: 2 / 3; */
    border-radius: 10px;
}

@media (max-width: 768px) {
    nav {
        width: 90%;
    }
    #films-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 639px) {
    .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .skill-set {
        margin-bottom: 1rem;
    }

    .skill-set p {
        margin-right: 0.5rem;
    }

    .projects-container {
        height: 210px;
    }

    #films-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }
}

.rating {
    display: flex;
    align-items: center;
}

.rating > img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
}


/* Socials styles */
.container-1 > a {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    color: #ffffff;
    opacity: 0.5;
    font-size: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.container-1 > a > img {
    padding-right: 0.5rem;
}

.container-1 > a:hover {
    opacity: 1;
}


/* Matcha styles */
#status-bar {
    position: fixed;
    bottom: 2rem;
    background-color: #A359EC;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 40px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#copy-clipboard {
    cursor: pointer;
    opacity: 0.5;
}

#copy-clipboard:hover {
    opacity: 1;
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #041C32;
    border-radius: 5px;
}


/* Table content alignment */
table, td, th {
    border: 0.1rem solid white;
}

table {
    border-collapse: collapse;
    margin-bottom: 1.5rem;
}

td {
    text-align: center;
    padding: 1rem 0;
}

td a {
    padding: 1rem 3rem;
}

td:hover {
    background-color: #403F60;
}